body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.calculator,
.screen {
    border: 1px solid black;
    border-radius: 8px;
}

.calculator {
    background-color: lightgray;
    padding: 16px 16px;
    width: 280px;
}

.screen {
    background-color: aliceblue;
    margin-bottom: 16px;
    padding: 8px 16px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

#display-screen {
    font-size: 21px;
}

#active-screen {
    font-size: 28px;
}

.top-row,
.row {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 16px;
    min-height: 36px;
    margin-bottom: 8px;
}

.top-row > button {
    width: 136px;
}

.row > button {
    width: 64px;
}